.modal-content {
  background-color: #fff;
  padding: 25px 30px;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}

/* Tiêu đề popup */
.modal-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

/* Hàng form (2 cột) */
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Nhóm label + input */
.form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group .required {
  color: red;
}

/* Input text/number */
.form-group input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 5px;
}

/* Nút hành động */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.btn-cancel {
  padding: 6px 20px;
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}

.btn-save {
  padding: 6px 20px;
  background-color: #3fdb4c;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}